<div class="container row">
  <div class="half">
    <h1>Login</h1>
    <form>
      <input type="text" name="username" placeholder="Username">
      <input type="password" name="password" placeholder="Password">
      <input class="btn" type="submit">
    </form>
  </div>
  <div class="half">
    <h1>Guest</h1>
    <a class="btn" href="/user/create">Play Now</a>
  </div>
  <div class="clearfix"></div>
</div>