<div class="container">
  <div class="row">

    <div class="half">
      <a class="btn" href="game/chess">Chess</a>
    </div>
    <div class="half">
      <a class="btn" href="game/platformer">Platformer</a>
    </div>

  </div>
</div>

