<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <a href="/game/chess"><img src="/images/img/chess.jpg"></a>
        <div class="caption">
          <h3>Chess</h3>
          <p>Play Chess against your friends</p>
          <p><a href="/game/chess" class="btn btn-primary" role="button">Play</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <a href="/game/platformer"><img src="/images/img/platformer.jpg"></a>
        <div class="caption">
          <h3>Platformer</h3>
          <p>Join multiple people to play a side scrolling game simultaneously with your friends.</p>
          <p><a href="/game/platformer" class="btn btn-primary" role="button">Play</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <a href="/game/shooter"><img src="/images/img/shooter.jpg"></a>
        <div class="caption">
          <h3>Shooter</h3>
          <p>Join a friend and try and survive. Credits for this game go to Unity Technologies. We just added networked multiplayer functionality</p>
          <p><a href="/game/shooter" class="btn btn-primary" role="button">Play</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
