<div class="container">
  <div class="row">

    <div class="col-sm-8 col-md-8">

      <div class="caption">
        <h2>Edit your profile</h2>
        <br>
        <form class="form-horizontal" method="post" enctype="multipart/form-data">
        <fieldset>
          <div class="form-group">
            <label for="propic" class="col-lg-2 control-label" for="propic">Upload Profile Picture</label>
            <div class="col-lg-10"><input type="file" class="form-control" id="propic" name="propic"></div>
          </div>

          <div class="form-group">
            <label for="inputDisplayname" class="col-lg-2 control-label">Display Name</label>
            <% if (user.displayname != "") { %>
              <div class="col-lg-10"><input type="text" class="form-control" id="inputDisplayname" name="inputDisplayname" value=<%= user.displayname %>></div>
            <% } else { %>
              <div class="col-lg-10"><input type="text" class="form-control" id="inputDisplayname" name="inputDisplayname" placeholder="Display Name"></div>
            <% } %>
          </div>
          <div class="form-group">
            <label for="inputAboutme" class="col-lg-2 control-label" for="inputAboutme">Your About Me</label>
            <div class="col-lg-10 control-group">
              <div class="controls">
                <textarea class = "form-control" id="inputAboutme" name="inputAboutme"></textarea>
                <span class='help-inline'>Leave blank to leave current about me unchanged</span>
              </div>

            </div>
          </div>
          <button type="submit" formaction="/edit/process" class="btn btn-info">Save</button>
        </fieldset>
        </form>
      </div>



    </div>

  </div>
</div>