<div class="container">
<% for (sender in user.messages){ %>
  <% for (var m=user.messages[sender].length - 1; m>=0; m--){ %>
    <div class="bar">
      <h4> <%= sender %> </h4>
      <p> <%= user.messages[sender][m] %> </p>
    </div>
  <% } %>
<% } %>
</div>

